.searchDiv {
  gap: 2rem;
  padding: 2%;
  justify-content: center;
}
.gridClass {
  background-color: rgb(241, 241, 241);
  border-radius: 15%;
  width: 25rem;
}
.searchImg {
  width: 100%;
  height: 120px;
  border-radius: 15%;
  padding: 12px;
}

.searchDetails {
  padding: 5%;
}

strong{
  color: blue;
}

.searchDetails p {
  font-weight: 600;
}

.linkSpan {
  display: flex;
  justify-content: center;
}

.seeDetails {
  font-size: 15px;
  font-weight: 600;
  color: rgb(241, 241, 241);
  text-decoration: none;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 15%;
}

.showDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2%;
}

.showImg {
  width: 100%;
  height: auto;
  max-height: 50vh;
  border-radius: 15%;
}